<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Search</title>
    </head>
    <body>
        <!--Page content-->

        <h1>Search</h1>

        <form action="/search" method="post">

          <input type="text" placeholder="Select your Genere" name="user_search" required/>
          <button type="submit">Search</button>

        </form>

        {% block results %}
        {% endblock %}

        {% block youtube %}
        {% endblock %}

    </body>
</html>
